.select-view {
  border: 1px solid dodgerblue;
  border-radius: 1em 1em 0 0;
  height: 100%;
  background: white;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto 30px;

  .button {
    width: 60px;
    height: 60px;
    background-color: white;
    stroke: dodgerblue;
    fill: white;
    margin: auto;
    justify-self: center;
    stroke-width: 2px;
    border: solid 1px lightgray;
  }

}

.select-control {
  transition: transform ease-out 0.2s;
  transform-origin: bottom;
  transform: scaleY(0);
  position: fixed;
  bottom: 0px;
  width: 700px;
  height: 100px;
  left: 50%;
  margin-left: -350px;
  overflow: hidden;
  z-index: 150;
  display: grid;
}

.select-control.collapsed {
  transform: scaleY(0);
}

.select-control.show {
  transform: scaleY(1);
}

.select-collapse-btn {
  width: 30px;
  height: 30px;
  background-color: white;
  stroke: dodgerblue;
  fill: white;
  margin-top: 5px;
  margin-right: 5px;
  stroke-width: 2px;
  text-align: center;
  border: solid 1px lightgray;
  border-radius: 2em;
  justify-self: center;
}
.select-collapse-btn svg {
  height: 12px;
}
